:root { 
--gray_50_01:#fafafa; 
--blue_gray_50:#ebecf2; 
--light_blue_300:#54c5eb; 
--red_400:#ed544e; 
--gray_50:#f7f8fa; 
--green_400:#66c87b; 
--teal_300:#34caa5; 
--black_900:#000000; 
--gray_500_01:#a3a3a3; 
--blue_gray_800:#3a3f51; 
--blue_gray_700:#525252; 
--teal_300_1e:#34caa51e; 
--blue_gray_900:#292d32; 
--gray_600:#787486; 
--blue_gray_50_01:#edf2f7; 
--gray_900_02:#22242c; 
--gray_700:#606060; 
--blue_gray_50_02:#edf2f5; 
--gray_400:#b7b0b0; 
--gray_500:#b2abab; 
--gray_600_01:#737373; 
--blue_gray_400:#898989; 
--blue_gray_300:#9ca4ab; 
--indigo_50:#e5eaef; 
--red_A200:#ff4a55; 
--gray_900:#0d062d; 
--gray_900_01:#26282c; 
--gray_300_03:#e6e6e6; 
--gray_300:#dadddd; 
--gray_300_02:#e1dfdf; 
--orange_300:#ffb64a; 
--gray_300_01:#d9dcdc; 
--gray_100:#f5f5f5; 
--indigo_400:#6160dc; 
--black_900_19:#00000019; 
--red_400_1e:#ed544e1e; 
--white_A700:#ffffff; 
}